@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Arial", sans-serif;
    overflow-x: hidden;
}

/* global css */
.btn {
    border: none;
    font-weight: 600;
    padding: 10px 40px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-fill {
    background-color: #8BB7A2;
}
.btn-lg {
    padding: 18px 38px;
    font-size: 16px;
}
.register{
    background: transparent;
    outline: solid 1px;
    padding: 15px 20px;
}
.container {
    max-width: 100%;
    background-color:#636C79;
    margin: 0 auto;
}
/*----------------------------- navbar section ------------------------------*/

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    height:  17vh;
    align-items: center;
}
.navbar .logo-container {
    flex: 2;
}
.navbar .logo-container img {
    width: 150px;
}
.navbar .list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 70px;
    padding-bottom: 30px;
}
.navbar .list .list-item a {
    text-decoration: none;
    color: #ffffff;
}
.navbar div:last-child {
    margin-bottom: 30px;
}



/*---------------------------- hero section ----------------------------------*/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 90px;
    padding-bottom: 20px;
}
.hero-left .hero-image {
    width: 20rem;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.hero-left .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero .hero-right h1 {
    font-family: "poppins";
    line-height: 70px;
    font-size: 60px;
    color: #ffffff;
}
.hero .hero-right p {
    color: #bdbdbd;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    line-height: 25px;

}
.hero .hero-right .contact-email {
    position: relative;
}
.hero .hero-right .contact-email input[type="email"] {
    outline: none;
    font-size: 14px;
    width: 62%;
    padding: 20px 160px 20px 40px;
    border-radius: 5px;
    border: none;


}
.hero .hero-right .contact-email input[type="email"]::placeholder {
    padding-left: 20px;
    font-size: 15px;
    color: #707070;
}
.hero .hero-right .contact-email span .email-icon{
    position: absolute;
    margin-left: 5px;
    width: 30px;
    margin-top: 12px;

}
.hero .hero-right .contact-email button {
    position: absolute;
    right: 12px;
    top: 3px;
    height: 50px;
}


/*------------------------- connecting section ----------------------------*/
.connecting-wrapper {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
}
.connecting {
    max-width: 78rem;
    margin: 10% auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.connecting h2 {
    font-family: "poppins";
    font-size: 3rem;
    text-align: center;
    color: #000;
    padding-bottom: 60px;
}
.connecting .connecting-right .connecting-img {
    max-width: 70rem;
    max-height: 500px;
    overflow: hidden;
}
.connecting .connecting-right .connecting-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.connecting .connecting-left {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.connecting .connecting-left .connecting-status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.connecting .connecting-left .connecting-status .status h4 {
    font-size: 2.4rem;
}
.connecting .connecting-left .connecting-status .status p {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 60px;
    font-size: 17px;
    color: #434343e6;

}



/*--------------------------------- webdesign section ----------------------------*/

.webdesign-wrapper {
    background-color: #ffffff;
    position: absolute;
    top: 230vh;
    padding-top: 100px;
    margin-top: 200px;
    left: 0;
    right: 0;
}
.webdesign-wrapper h2 {
    font-family: "poppins";
    font-size: 2.9rem;
    color: #000;
    padding-bottom: 20px;
    font-weight: 900;
    text-align: center;
}
.webdesign {
    max-width: 78rem;
    gap: 90px;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: center;

}
.webdesign .webdesign-left h4 {
    font-size: 2.5rem;
    color: #000;
    padding-bottom: 30px;
    font-family: "poppins";
}
.webdesign .webdesign-left p {
    font-size: 1.2rem;
    color: #707070;
    font-weight: 600;
    padding-bottom: 30px;
}

.webdesign-right .webdesign-img {
    width: 34rem;
    height: 600px;
    overflow: hidden;
}
.webdesign-right .webdesign-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}




/*--------------------------------- markeet section ----------------------------*/

.marketing-wrapper {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    top: 350vh;
    padding-top: 50px;
    padding-bottom: 80px;
}
.marketing {
    max-width: 78rem;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: center;
    gap: 90px;
    align-items: center;
    flex-wrap: wrap;
}
.marketing .marketing-left {
    order: 2;
}
.marketing .marketing-left h4 {
    font-size: 2.5rem;
    color: #000;
    padding-bottom: 30px;
    font-weight: 700;
    font-family: "poppins";
}
.marketing .marketing-left p {
    font-size: 1.2rem;
    color: #707070;
    font-weight: 600;
    padding-bottom: 30px;
}
.marketing-right {
    order: 1;
}
.marketing-right .marketing-img {
    width: 34rem;
    height: 500px;
    overflow: hidden;
}
.marketing-right .marketing-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}



/* judging */
.judging {
    max-width: 80rem;
    margin: 40px auto 0 auto;
    display: flex;
    align-items: center;
    padding-top: 40px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
}
.judging .judging-left h4 {
    font-size: 2.5rem;
    color: #000;
    padding-bottom: 30px;
    font-weight: 700;
    font-family: "poppins";
}
.judging .judging-left p {
    font-size: 1.2rem;
    color: #707070;
    font-weight: 600;
    padding-bottom: 30px;
}

.judging-right .judging-img {
    width: 34rem;
    height: 500px;
    overflow: hidden;
}
.judging-right .judging-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* team section */
.team-section {
    max-width: 80rem;
    margin: 30px auto 30px auto;
    padding-top: 100px;
}
.team-section .team-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.team-section .team-headline h1 {
    font-size: 2.8rem;
    font-family: "poppins";
    color: #000;
}
.team-section .team-headline p {
    font-size: 1.2rem;
    color: #707070;
    line-height: 30px;
}
.tema-info {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    flex-wrap: wrap;
}
.tema-info .team-card .team-image {
    width: 350px;
    height: 500px;
    overflow: hidden;
}
.tema-info .team-card .team-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
}
.tema-info .team-card h4 {
    font-size: 1.2rem;
    color: #000;
    margin-left: 10px;
    padding: 15px 0px;
}
.tema-info .team-card p {
    color: #424242;
    margin-left: 10px;
}
.team-section .team-btn {
    text-align: center;
    padding-top: 50px;
}
.team-section .team-btn button {
    padding: 20px 60px;
}


@media only screen and (max-width: 1000px) {

}

/*--------------------------- footer section --------------------*/

.footer-wraper {
    position: absolute;
    top: 700vh;
    left: 0;
    right: 0;
    background-color: #10181D;

}
.footer-wraper .footer {
    max-width: 78rem;
    margin: 0 auto;
    color: #ffffff;
}
.footer-wraper .footer .footer-logo {
    display: flex;
    justify-content: space-between;
    height: 180px;
    align-items: center;
    flex-wrap: wrap;
}
.footer-wraper .footer .footer-logo ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.footer-wraper .footer .footer-logo ul li span {
    background-color: rgba(255, 255, 255, 0.093);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 500px;
}
.footer-navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 100px;
    flex-wrap: wrap;
}
.footer-navbar .navbar-list h4 {
    padding-bottom: 20px;
    font-size: 1.2rem;
}
.footer-navbar .navbar-list ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    color: #707070;
    font-size: 14px;
    font-weight: 600;
}
.footer-navbar .navbar-list ul li {
    cursor: pointer;
}
.footer .hr {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.093);
    width: 100%;
    display: block;
}





/************Media quries*/
@media only screen and (max-width: 1000px) {
    .navbar {
        height: 12vh;
        overflow-x: scroll !important ;
    }
    .navbar>div>img{
        margin-right: 20px;
    }
    .navbar .logo-container img {
        width: 100px;
    }
    .navbar .list {
        margin-right: 30px;
        padding-bottom: 0px;
    }
    .navbar div:last-child {
        margin-bottom: 0px;
    }
    .register{
        width: 100px;
        padding: 10px 5px;
    }
    .hero {
        flex-wrap: wrap;
        height: auto;
        align-items: center;
        margin: 0 20px 20px 20px;
        justify-content: center;
    }
    .hero-left .hero-image {
        margin-top: 30px;
    }
    .hero .hero-right h1 {
        text-align: center;
        padding: 0px 10px;
        font-size: 35px;
        line-height: 45px;
    }
    .hero .hero-right p {
        text-align: center;
        padding: 0 10px;
        line-height: 20px;
        font-size: 14px;
    }
    .hero .hero-right .contact-email input[type="email"] {
        padding: 22px 170px 22px 20px;
        width: auto;
    }
    .hero .hero-right .contact-email button {
        right: 10px;
        top: 5px;
    }
    .connecting .connecting-right .connecting-img {
        padding-bottom: 100px;
        height: 400px;
        margin: 4px;
    }
    .connecting{
        margin-bottom: 100px;
        margin: 4px;
    }
    .connecting .connecting-left .connecting-status {
        flex-wrap: wrap;
    }
    .webdesign-wrapper h2 {
        font-size: 3rem;
    }
    .webdesign .webdesign-left h4 {
        font-size: 1.8rem;
        margin-left: 20px;
    }
    .webdesign .webdesign-left p {
        font-size: .9rem;
    }
    .webdesign-right .webdesign-img {
        width: 24rem;
        height: 400px;
    }
    .marketing .marketing-left h4 {
        font-size: 1.8rem;
        margin-left: 20px;
    }
    .marketing .marketing-left p {
        font-size: .9rem;
    }
    .marketing-right .marketing-img {
        width: 24rem;
        height: 400px;
    }

    .marketing-wrapper {
        top: 300vh;
        padding-top: 0;
    }
    .marketing .marketing-left {
        order: 1;
    }
    .judging .judging-left h4 {
        font-size: 1.8rem;
        margin-left: 20px;
    }
    .btn{
        margin-left: 20px;
    }
    .judging .judging-left p {
        font-size: .9rem;

    }
    .judging-right .judging-img {
        width: 24rem;
        height: 400px;
    }
    .team-section {
        max-width: 78rem;
        margin: 40px auto 40px auto;
        padding-top: 50px;
        height: auto;

    }
    .team-section .team-headline p {
        font-size: .9rem;
        margin-top: 10px;
    }
    .team-section .team-headline h1,p {
        margin-left: 20px;
    }
    .tema-info {
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .footer-wraper {
        top: 830vh;
        padding-left: 5px;
        padding-right: 5px;
    }
    .footer-wraper .footer .footer-logo .logo{
        width: 120px;
    }
    .footer-wraper .footer .footer-logo ul {
        gap: 20px;
    }
    .footer-navbar{
       margin: 3px;
    }
    .footer-navbar .navbar-list{
        padding: 5px;
     }

@media only screen and (max-width: 821px) {
    .footer-wraper {
        top: 600vh;
    }
}

@media only screen and (max-width: 600px) {
    .connecting h2 {
        font-size: 2rem;
    }
    .webdesign-wrapper {
        padding-top: 0px;
        margin-top: 80px;

    }
    .webdesign-wrapper h2 {
        font-size: 2rem;
    }
    .webdesign-wrapper {
        position: absolute;
        top: 200vh;
        padding-top: 0px;
    }
    .footer-wraper {
        top: 750vh;
        padding-left: 5px;
        padding-right: 5px;
    }
}

}
@media only screen and (max-width: 400px) {
    .connecting .connecting-right .connecting-img {
        margin-bottom: 100px;
        height: 10rem;
        width: 20rem;
    }
    .footer-wraper {
        top: 790vh;
    }
    .marketing-wrapper {
        top: 300vh;
        padding-top: 90;
    }
}